<html>
<head>
<link rel="stylesheet" href="anaStyle.css">
	<script src="jquery-3.1.1.min.js"></script>
	<script src="Analytics.js"></script>
	<style><%=css%></style>
</head>

<body>
<header>

</header>

<main>
<h1 class = "title">ANALYTICS</h1>
<h2 class = "title">scrollable data only</h2>
<button id="home" onclick="location.href='../';" >HOME</button>
<input type="button" id="Refresh" value="Refresh">
	<div id="d1" class="widget">
	<h2>ToDoLists</h2>
		<ol id="List1"></ol>
	</div>

	<div id="d2" class="widget">
	<h2>Items from List</h2>
		<ol id="List2"></ol>
	</div>

	<div id="d3" class="widget">
	<h2>Limited Items from List</h2>
		<ol id="List3"></ol>
	</div>
	
	<div id="d4" class="widget">
	<h2>Filtered Items from List</h2>
		<ol id="List4"></ol>
	</div>

	<div id="d5" class="widget">
	<h2>All SubItems</h2>
		<ol id="List5"></ol>
	</div>

	<div id="d6" class="widget">
	<h2>Tags</h2>
		<ol id="List6"></ol>
	</div>

	<div id="d7" class="widget">
	<h2>All lists with Tag</h2>
		<ol id="List7"></ol>
	</div>

	<div id="d8" class="widget">
	<h2>Done Items with Tag</h2>
		<ol id="List8"></ol>
	</div>

	<div id="d9" class="widget">
	<h2>Completed Items per Week</h2>
		<ol id="List9"></ol>
	</div>
	
	<div id="d10" class="widget">
	<h2>For a Tag 10 Quickest ToDos</h2>
		<ol id="List10"></ol>
	</div>

	<div id="d11" class="widget">
	<h2>Frequency Tags</h2>
		<ol id="List11"></ol>
	</div>

	<div id="d12" class="widget">
	<h2>Average Completion Time</h2>
		<ol id="List12"></ol>
	</div>
	
	<div id="d13" class="widget">
	<h2>Completion Time higher than the Average Time</h2>
		<ol id="List13"></ol>
	</div>

	<div id="d14" class="widget">
	<h2>Made by : Martijn Papendrecht & Nino Vroom<br></h2>
	<img src="logo.jpg">
	</div>

</main>

<footer>

</footer>
</body>

</html>
